<?xml version="1.0"?>
<config>
    <modules>
        <Axaltacore_Customuser>
            <version>0.1.27</version>
        </Axaltacore_Customuser>
    </modules>
    <global>
        <models>
            <axaltacore_customuser>
                <class>Axaltacore_Customuser_Model</class>
                <resourceModel>customuser_resource</resourceModel>
            </axaltacore_customuser>
            <customuser_resource>
                <class>Axaltacore_Customuser_Model_Resource</class>
                <entities>
                    <custpartner>
                        <table>sap_customer_partner</table>
                    </custpartner>
                    <custaddress>
                        <table>sap_customer_address</table>
                    </custaddress>
                    <custmaster>
                        <table>sap_customer_master</table>
                    </custmaster>
                    <custusermap>
                        <table>sap_customer_user</table>
                    </custusermap>
                    <salesarea>
                        <table>axaltacore_salesarea</table>
                    </salesarea>
                    <partnertypes>
                        <table>na_partnertypes</table>
                    </partnertypes>
                    <partnerinfo>
                        <table>na_partnerinfo</table>
                    </partnerinfo>
                    <ordertype>
                        <table>sap_customer_ordertype</table>
                    </ordertype>
                </entities>
            </customuser_resource>
            <customer_resource>
                <rewrite>
                    <customer>Axaltacore_Customuser_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
        </models>
        <blocks>
          <adminhtml>
            <rewrite>
                <customer>Axaltacore_Customuser_Block_Adminhtml_Customer</customer>
            </rewrite>
            <rewrite>
              <customer_edit_tab_account>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
            </rewrite>
            <rewrite>
              <customer_edit_tabs>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
            </rewrite>
            <rewrite>
              <customer_edit>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit</customer_edit>
            </rewrite>
            <rewrite>
              <customer_grid>Axaltacore_Customuser_Block_Adminhtml_Customer_Grid</customer_grid>
            </rewrite>
            <rewrite>
              <customer_nauser>Axaltacore_Customuser_Block_Adminhtml_Customer_Nauser</customer_nauser>
            </rewrite>
            <rewrite>
              <customer_nauser_grid>Axaltacore_Customuser_Block_Adminhtml_Customer_Nauser_Grid</customer_nauser_grid>
            </rewrite>
            <rewrite>
              <customer_napartner>Axaltacore_Customuser_Block_Adminhtml_Customer_Napartner</customer_napartner>
            </rewrite>
            <rewrite>
              <customer_napartner_grid>Axaltacore_Customuser_Block_Adminhtml_Customer_Napartner_Grid</customer_napartner_grid>
            </rewrite>
            <rewrite>
               <customer_edit_tab_userconfiguration>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Userconfiguration</customer_edit_tab_userconfiguration>
            </rewrite>
            <rewrite><customer_edit_tab_userconfiguration_grid>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Userconfiguration_Grid</customer_edit_tab_userconfiguration_grid>
            </rewrite>
            <rewrite>
               <customer_edit_tab_sendidocdate>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Sendidocdate</customer_edit_tab_sendidocdate>
            </rewrite>
            <rewrite><customer_edit_tab_sendidoc_grid>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Sendidoc_Grid</customer_edit_tab_sendidoc_grid>
            </rewrite>
            <rewrite><customer_grid_renderer_removelink>Axaltacore_Customuser_Block_Adminhtml_Customer_Grid_Renderer_Removelink</customer_grid_renderer_removelink>
            </rewrite>
            <rewrite>
               <customer_userconfiguration>Axaltacore_Customuser_Block_Adminhtml_Customer_Userconfiguration</customer_userconfiguration>
            </rewrite>
            <rewrite><customer_edit_tab_subusergrid>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Subusergrid</customer_edit_tab_subusergrid>
            </rewrite>
            <rewrite><customer_edit_tab_assignusergrid>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Assignusergrid</customer_edit_tab_assignusergrid>
            </rewrite>
            <rewrite>
                <customer_edit_tab_userinfo>Axaltacore_Customuser_Block_Adminhtml_Customer_Edit_Tab_Userinfo</customer_edit_tab_userinfo>
            </rewrite>
            <rewrite>
                <permissions_user_edit_tab_main>Axaltacore_Customuser_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
            </rewrite>
            <rewrite>
                <page_menu>Axaltacore_Customuser_Block_Adminhtml_Page_Menu</page_menu>
            </rewrite>
          </adminhtml>
          <axaltacore_customuser>
             <class>Axaltacore_Customuser_Block</class>
          </axaltacore_customuser>
        </blocks>
        <helpers>
            <axaltacore_customuser>
                <class>Axaltacore_Customuser_Helper</class>
            </axaltacore_customuser>
        </helpers>
        <resources>
            <axaltacore_customuser_setup>
                <setup>
                    <module>Axaltacore_Customuser</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </axaltacore_customuser_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <user>
                        <type>singleton</type>
                        <class>axaltacore_customuser/observer</class>
                        <method>customerSaveAfter</method>
                    </user>
                </observers>
            </customer_save_after>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <axaltacore_themeoverride_observer>
                        <type>singleton</type>
                        <class>Axaltacore_Customuser_Controller_Observer</class>
                        <method>overrideTheme</method>
                    </axaltacore_themeoverride_observer>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <axaltacore_customuser before="Mage_Adminhtml">Axaltacore_Customuser_Adminhtml</axaltacore_customuser>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <axaltacore_customuser>
                    <file>axaltacore_customuser.xml</file>
                </axaltacore_customuser>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <design>
            <admin>
                <theme>axalta</theme>
            </admin>
        </design>
        <salesareafunc>
            <catalogconf>
                <productdpp>F510_10_DR,F510_10_OE,F510_10_MC,F52A_10_NC,F52A_10_CP,F52A_10_OE,F52A_10_DR,F52A_10_ER,F54G_10_MC,F54G_10_DR</productdpp>
            </catalogconf>
            <ordertype>
                <consignment>F52A_10_CP</consignment>
                <consignmentfillup>F52A_10_CP</consignmentfillup>
            </ordertype>
            <orderheader>
                <reqdeliverydate>F54G_10_MC,F54G_10_DR,F52A_10_DR,F52A_10_ER,F52A_10_CP,F52A_10_NC,F52A_10_OE</reqdeliverydate>
            </orderheader>
            <ordersubmit>
                <termchkbox>F510_10_DR,F510_10_MC,F510_10_OE,F54G_10_MC,F54G_10_DR,F52A_10_DR,F52A_10_ER,F52A_10_CP,F52A_10_NC,F52A_10_OE</termchkbox>
                <termdocument>F510_10_DR,F510_10_MC,F510_10_OE,F54G_10_MC,F54G_10_DR,F52A_10_DR,F52A_10_ER,F52A_10_CP,F52A_10_NC,F52A_10_OE</termdocument>
            </ordersubmit>
            <invoice>
               <pdfinvoicedoc>F510_10_DR,F510_10_MC,F510_10_OE,F54G_10_MC,F54G_10_DR,F52A_10_DR,F52A_10_ER,F52A_10_CP,F52A_10_NC,F52A_10_OE</pdfinvoicedoc>
            </invoice>
            <ordernotification>
                <termcondition>F510_10_OE,F54G_10_MC,F54G_10_DR,F52A_10_DR,F52A_10_ER,F52A_10_CP,F52A_10_NC,F52A_10_OE</termcondition>
            </ordernotification>
        </salesareafunc>
    </default>
    <crontab>
        <jobs>
            <axaltacore_lacustomerexpire>
                <schedule>
                    <cron_expr>54 23 * * *</cron_expr><!-- Run at 11:54pm in a day -->
                </schedule>
                <run><model>axaltacore_customuser/cron::expireCustomer</model></run>
            </axaltacore_lacustomerexpire>
        </jobs>
    </crontab>
</config>